<script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
<script>
    addBackToTop({
        diameter: 60,
        backgroundColor: 'rgb(0, 146, 202)',
        textColor: '#fff'
     })
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll("a[href^='#']").forEach(anchor => {
            const targetId = anchor.getAttribute("href").substring(1);
            if (targetId && document.getElementById(targetId)) {
                anchor.addEventListener("click", function(e) {
                    e.preventDefault();
                    const targetElement = document.getElementById(targetId);
                    const offset = 90; 
                    const elementPosition = targetElement.getBoundingClientRect().top + window.pageYOffset;
                    window.scrollTo({
                        top: elementPosition - offset,
                        behavior: "smooth"
                    });
                });
            }
        });
    });
</script>
